#boxcontent
{width:auto;
max-width:900px;
margin:-30px auto;
padding:0 0 45px 0;}

#boxcontent article
{float:left;
width:250px;
margin-right:45px;
font-size:14px;}

#boxcontent article h3
{font-family: 'Open Sans', sans-serif;
font-size:20px;
margin-bottom:10px;
margin-left:75px;}

#boxcontent article img
{float:left;}

#boxcontent article p
{line-height:25px;
font-family: 'Open Sans', sans-serif;
margin-left:75px;}
.clear {
	clear: both;
}
