footer
{position:relative;
clear:both;
width:auto;
height:350px;
background:#333333;}

footer .wrapper
{line-height:25px;
margin: 0 auto;
padding-top:30px;
width:auto;
max-width:900px;
font-size:14px;}

footer .wrapper .column
{font-family: 'Open Sans', sans-serif;
color:#ababab;
float:left;
width:280px;
margin-right:20px;}

footer .wrapper .column.midlist ul li
{width:auto;
padding:0 0 10px 25px;
margin-bottom:10px;
border-bottom: 1px solid #444444;
/*background:url(img/arrowright2.png) left 6px no-repeat;*/}

footer .wrapper .column.midlist ul li a:hover
{color:#fff;}