/*nav ul
{list-style:none;}
nav ul li
{display:block;
float:left;
padding:3px 15px;}

nav ul li a
{font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
transition: all .25s ease;}

nav ul li a:hover
{color: #E56038;}*/
nav {
	margin-left: 7em;
	margin-top : 6em;
}
nav ul {
	align-items: center;
	display : flex;
	list-style-type: none;
	justify-content: space-between;

}
nav ul li {
	padding-left : 1.5em;
	/*padding-right: 1.5em;*/
	text-transform: uppercase;
}
